################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeaBattleDomainModel/.vs/SeaBattleDomainModel/v16
