@using Microsoft.AspNetCore.Identity
@inject UserManager<CustomIdentityUser> UserManager
@inject SignInManager<CustomIdentityUser> SignInManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello <strong>@User.Identity.Name! </strong></a>
    </li>
    <li class="nav-item">
        <form method="post" asp-controller="Account" asp-action="Logout" id="logoutform" asp-antiforgery="true">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
         </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
