/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
    background-color: #EAEAEA !important;
}

.ui.inverted.pointing.menu {
    background-image: linear-gradient(125deg, rgb(16, 17, 22) 0%, rgb(202, 202, 202)50%, rgba(250, 250, 250, 0)100%);
}

.product-photo {
    height: 200px;
    width: 200px;
}